

.navbar-brand {
    color: #C72D39;
    font-weight: bolder;
    font-size: 50px !important;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-top: -18%; 
    position: fixed;
}

.navbar-custom {
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-top: -5%;
    position: fixed;
}

.nav-link-gallery {
    color: #754681;    
}

.nav-link-memories {
    color: #AD6C80;    
}

.nav-link-playlists {
    color: #EE99A0;    
}

.heading {
    color: #a2a2a2;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    margin-left: 200%;
    margin-top: 30%;
    position: relative;
}

img {
    position: fixed;
    right: 33%;
    z-index: -1;
    margin-top: 10%;
}
.box {
    right: 33%;
}

p {
    font-family: 'Montserrat', sans-serif;
    position: fixed;    
    left: 68%;
    margin-top: 15%;
    margin-right: 20px;
}

body {
    background-color: #D3DFE3 !important;
}
