.description {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    font-family: pt sans caption;
}

#headline {
    color: rgb(176, 52, 180);
    font-size: 100px;    
    font-family: oriya mn;
    text-align: center;
}

.image {
    background-image: url("https://www.everymancinema.com/image?url=https://cms.everymancinema.com//media/1127/sotg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.caption {
    font-size: 20px;
    font-style: italic;
    display: block;
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 15%;
    opacity: 0.65
}

.jumbotron {
    background-color: #FFE227 !important;
}

.carousel-inner img {
    width: 90%;
    height: 90%;
}