.description {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    text-align: center;
}

#headline {
    font-family: cursive;
    color: palevioletred;
    font-size: 60px;    
}

.image {
    background-image: url("https://www.everymancinema.com/image?url=https://cms.everymancinema.com//media/1127/sotg.jpg");
    background-size: contain;
    background-position: center;
    height: 500px;
}

.caption {
    font-size: 20px;
    font-style: normal;
    display: block;
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 15%;
    opacity: 0.65
}

ul.a {
    list-style-type: circle;
}

ol.b {
    list-style-type: lower-roman;
}